*{
	margin: 0;
	padding: 0;
}

/*.wrap{
  max-width: 600px;
  margin:50px auto;
}*/

.type-wrap{
  margin:10px auto;
  padding:20px;
  /*background:#f0f0f0;*/
  border-radius:5px;
  border:#fff 1px solid;
}

code.javascript {
  border-color: white;
  background-color: #f3f0dc;
}

hr {
  border-color: white;
}

#logo{
	width: 20%;
	height: 20%;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

#logo:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/*NAV*/
#homebtn, #aboutbtn,#musicbtn, #workbtn {
	background-color: #BBDBBB;
  color: black;
  border-color: white;
 	/*padding-left: 50px;*/
}

#homebtn:hover, #aboutbtn:hover, #musicbtn:hover, #workbtn:hover {
  color: white;
}


/*//*/
h1{
display: inline-block;
}

.large-12{ 
/*text-align: center;*/
/*width: 90%;*/
 }

.menu.align-center{
	display: inline-block;
  /*margin-left: 400px;*/
	padding-left: 5px;
	padding-right: 800px;
	/*margin-left: 600px;*/
}

.hover-underline-menu {
  width: 100%;
}

.hover-underline-menu .menu {
/*  background-color: #652950;*/
  width: 50%;
}

.hover-underline-menu .menu a {
  color: #fefefe;
  padding: 1.2rem 1.5rem;
}

.hover-underline-menu .menu .underline-from-center {
  position: relative;
}

.hover-underline-menu .menu .underline-from-center::after {
  content: "";
  position: absolute;
  top: calc(100% - 0.125rem);
  border-bottom: 0.125rem solid #fefefe;
  left: 50%;
  right: 50%;
  transition: all 0.5s ease;
}

.hover-underline-menu .menu .underline-from-center:hover::after {
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}

/*//*/


    


body {
	/*background-image: url("images/background1.jpg");*/
	background-repeat: no-repeat;
  background-size: cover;
  /*background:linear-gradient(to bottom, #8dd2d9 , #58c0c7) fixed; */  /* blue */
  /*background:linear-gradient(to bottom, #f3f0dc , #e0dab5) fixed;*/ /* beige */
 background:linear-gradient(to top, #40e0d0 , #e0dab5) fixed;
/*	background-color: #f3f0dc;*/
	animation: pulse 3s;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.icon-list i {
  font-size: 3.5rem;
  text-decoration: none;
  color: #83ccc8;
  padding: 2%;
 /* margin-left: 200px;*/
  display: inline;
}


.icon-list i:hover{
    color: #609895;
  }

.last{
  margin-left: 400px;
}

.button.expanded{
  background-color: #609895;
}

.fi-social-linkedin{
  font-size: 2.4rem;
  color: #83ccc8;
}

.fi-social-linkedin:hover{
    color: #609895;
  }

/* Zoom Out #1 */
      .zoom figure img {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition: .3s ease-in-out;
        transition: .5s ease-in-out;
      }
      .zoom figure:hover img {
        -webkit-transform: scale(1);
        transform: scale(1);
      }

      .column {
        margin: 15px 15px 0;
        padding: 0;
      }
      .column:last-child {
        padding-bottom: 60px;
      }
      .column::after {
        content: '';
        clear: both;
        display: block;
      }
      .column div {
        position: relative;
        float: left;
        width: 300px;
        height: 200px;
        margin: 0 0 0 25px;
        padding: 0;
      }
      .column div:first-child {
        /*margin-left: 0;*/
      }
      .column div span {
        position: absolute;
        bottom: -20px;
        left: 0;
        z-index: -1;
        display: block;
        width: 300px;
        margin: 0;
        padding: 0;
        color: #444;
        font-size: 18px;
        text-decoration: none;
        text-align: center;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        opacity: 0;
      }
      figure {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
       /* background: #fff;*/
        overflow: hidden;
      }
      figure:hover+span {
        bottom: -36px;
        opacity: 1;
      }


